In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

C:\Python\Python39\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
a=pd.read_csv('ASIANPAINT.csv')
a

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ASIANPAINT,EQ,361.20,370.0,390.00,370.00,385.0,381.65,380.54,3318,1.262617e+11,NaN,NaN,NaN
1,2000-01-04,ASIANPAINT,EQ,381.65,380.0,392.00,375.00,390.0,385.55,383.50,4818,1.847699e+11,NaN,NaN,NaN
2,2000-01-05,ASIANPAINT,EQ,385.55,371.5,390.00,371.50,383.0,383.00,379.81,2628,9.981384e+10,NaN,NaN,NaN
3,2000-01-06,ASIANPAINT,EQ,383.00,384.9,384.90,374.50,375.1,377.50,379.88,3354,1.274114e+11,NaN,NaN,NaN
4,2000-01-07,ASIANPAINT,EQ,377.50,376.0,390.00,370.00,389.0,385.70,383.38,9589,3.676275e+11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ASIANPAINT,EQ,2517.95,2530.0,2575.00,2530.00,2558.0,2557.90,2557.47,1103980,2.823400e+14,58557.0,335232.0,0.3037
5302,2021-04-27,ASIANPAINT,EQ,2557.90,2545.0,2579.90,2534.00,2571.0,2574.35,2560.55,866331,2.218288e+14,66988.0,281178.0,0.3246
5303,2021-04-28,ASIANPAINT,EQ,2574.35,2588.0,2620.25,2575.00,2612.0,2614.55,2605.91,1065561,2.776752e+14,52622.0,449241.0,0.4216
5304,2021-04-29,ASIANPAINT,EQ,2614.55,2630.0,2642.00,2570.00,2613.0,2613.45,2607.33,1295346,3.377394e+14,64039.0,447979.0,0.3458
5305,2021-04-30,ASIANPAINT,EQ,2613.45,2595.0,2605.80,2524.05,2529.0,2536.40,2558.66,1384907,3.543512e+14,91934.0,750496.0,0.5419

In [6]:
a=pd.read_csv('ASIANPAINT.csv')
for i in range(5305):
    x1=str(pd.to_datetime(a['Date'][i+1 ])-pd.to_datetime(a['Date'][i])).replace('days','').replace('00:00:00','')
    a['Date'][i]=int(x1)

C:\Users\ssnit\AppData\Local\Temp/ipykernel_10340/101874796.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['Date'][i]=int(x1)

In [8]:
x=a[['Date','Prev Close','Open','High','Low','Last','Close','VWAP','Volume']]
y=a[['Turnover']]
x=x[:5305]
y=y[:5305]
x

,Date,Prev Close,Open,High,Low,Last,Close,VWAP,Volume
0,1,361.20,370.0,390.00,370.0,385.0,381.65,380.54,3318
1,1,381.65,380.0,392.00,375.0,390.0,385.55,383.50,4818
2,1,385.55,371.5,390.00,371.5,383.0,383.00,379.81,2628
3,1,383.00,384.9,384.90,374.5,375.1,377.50,379.88,3354
4,3,377.50,376.0,390.00,370.0,389.0,385.70,383.38,9589
...,...,...,...,...,...,...,...,...,...
5300,3,2511.25,2527.1,2565.00,2496.2,2520.0,2517.95,2523.48,1614593
5301,1,2517.95,2530.0,2575.00,2530.0,2558.0,2557.90,2557.47,1103980
5302,1,2557.90,2545.0,2579.90,2534.0,2571.0,2574.35,2560.55,866331
5303,1,2574.35,2588.0,2620.25,2575.0,2612.0,2614.55,2605.91,1065561
5304,1,2614.55,2630.0,2642.00,2570.0,2613.0,2613.45,2607.33,1295346

In [10]:

from sklearn.linear_model import LinearRegression
LR=LinearRegression().fit(x,y)

In [11]:
LR.predict([['1','2613.45',	'2595.0',	'2605.80'	,'2524.05',	'2529.0',	'2536.40'	,'2558.66',	'1384907'	]])

C:\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Python\Python39\lib\site-packages\sklearn\base.py:557: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

array([[2.28946271e+14]])